.filterBar{
    margin-top: 64px;
    margin-bottom: 32px;
    position: relative;
}
.tag{
    margin-bottom: 8px;
}
.input{
    position: relative;
    width: 226px;
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: var(--color-primary-light);
    background-color: var(--color-accent);
    border-radius: 14px;
    padding: 14px 18px;
}
.pick{
    pointer-events: none;
}
.chevron {
	position: absolute;
	top: 14px;
	right: 18px;
	width: 20px;
	height: 20px;
	pointer-events: none;
	transform: scaleY(-100%);
    fill: var(--color-primary-light);
}
.chevronDown {
	transform: scaleY(100%);
}
.filterList{
    position: absolute;
    top: 82px;
    background-color: var(--color-primary-lightest);
    width: 226px;
    padding: 14px 18px;
    border-radius: 14px;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.filterItem{
    color: var(--color-light-a);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    cursor: pointer;
}
.filterItem:hover{
    color: var(--color-light-a-hover);
}
.filterItem.active{
    color: var(--color-primary-dark);
}
.filterItem:not(:last-child){
    margin-bottom: 12px;
}