.card{
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color: var(--color-primary-light);
    border-radius: 24px;
    position: relative;
}
.imgWrapper{
    width: 120px;
    height: 120px;
    border: 2px solid var(--color-secondary-accent);
    border-radius: 30px;
    padding: 12px;
    flex-shrink: 0;
}
.avatar{
    border-radius: 15px;
}

.techlist{
    position: absolute;
    right: 24px;
    display: flex;
    gap: 32px;
}
.techItem {
	position: relative;
	/* max-width: 100%; */
}
.techItem:not(:last-child):after {
	position: absolute;
	right: -17px;
	height: 18px;
	content: "";
	border-right: 2px solid var(--color-light);
}
.nameWrapper{
    margin-bottom: 24px;
}
.infoWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}
.infoItem{
    background-color: var(--color-back);
    border-radius: 24px;
    padding: 8px 16px;
}