:root {
	--color-primary-dark: #11101C;
	--color-secondary-dark: ;
	--color-primary-lightest: #fff;
	--color-primary-light: #fbfbfb;
	--color-primary-lighter: rgba(251, 251, 251, 0.4);
	--color-secondary-darker: ;
	--color-light: rgba(17, 16, 28, 0.2);
	--color-light-a: rgba(17, 16, 28, 0.3);
	--color-light-a-hover: rgba(17, 16, 28, 0.6);
	--color-accent-lighter: rgb(186, 232, 222);
	--color-accent: #103931;
	--color-accent-hover: #052b23;
	--color-accent-light: rgba(16, 57, 49, 0.2);
	--color-secondary-accent: rgba(240, 63, 59, 0.2);
	--color-back: #f3f3f3;
	--color-star: #ffc531;
	--color-price: #38cd3e;
}
* {
	box-sizing: border-box;
}
p,
h1,
h2,
h3 {
	margin: 0;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	font-family: "manrope", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.25;
	color: var(--color-primary-dark);
	background-color: var(--color-back);
}
body::-webkit-scrollbar {
	display: none;
}
